.bd-navbar {
  /*min-height: 4rem;*/
  /*position: sticky;*/
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
  /*top: 0;    */
  z-index: 1080;
}

.bd-title {
	/*box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);*/
}

.bd-main-box {
	box-shadow: 0.5rem .5rem 1rem rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.bd-alert {
	display: none;
	position: fixed;
	margin: 0, auto;
	top:12%;
    left:40%;
	z-index: 1020;
}